#root {
  color: black;
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.global {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
}

h2 {
  font-family: 'Franklin Gothic Medium' sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.post-container {
  min-height: max-content;
  height: 35rem;
  width: 100%;
  max-width: 400px;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  text-indent: 10px;
  margin: 20px 50px;
  padding: 0 20px 0 20px;
  justify-self: center;
}
